.form-group label {
    margin-bottom: 0.5em;
    font-weight: bold;
}

.error-validation {
    border: 1px solid red;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.23);
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

table {
    width: 100%;
}

.btn {
  background: #3f51b5;
  color: white;
  width: 100%;
}
