<mat-dialog-actions>
  <button mat-button class="btn" (click)="export()">EXPORT</button>
  <button mat-button class="btn" (click)="download()">DOWNLOAD</button>
  <button mat-button class="btn" (click)="copy(txtconfig)">COPY</button>
</mat-dialog-actions>
<mat-dialog-content>
  <mat-form-field style="width:100%;">
    <textarea matInput value="{{config}}" #txtconfig  spellcheck="false"></textarea>
    <div #alert class="alert alert-blue alert-dismissible fade " role="alert">
        <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
          <span aria-hidden="true">&times;</span>
        </button>
        Config copied to clipboard !!
      </div>
  </mat-form-field>
</mat-dialog-content>
