textarea {
  resize: none;
  height: 470px;
  background: #ffffff;
  border: 1px solid #3F51B5;
  border-radius: 5px;
  box-shadow: 3px 3px 14px #3F51B5;
  color: #3F51B5;
}

.btn {
  background: #3f51b5;
  color: white;
  width: 32%;
  margin: 0 auto 9px auto;
}

.alert {
  position: absolute;
  width: 100%;
  transition: all 1s;
  top: 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

.alert-blue {
  color: #ffffff;
  background-color: #3F51B5;
  border-color: #000831;
}
